

.link {
  display: block;
  width: 285px;
  margin-right: 40px;
}

.wrapper {
  //width: 285px;
  //margin-right: 6rem;
  //margin-right: 40px;
  margin-bottom: 70px;
  cursor: pointer;

  .image{

    img{
      width: 285px;
      height: 200px;
      object-fit: cover;
      @media (max-width : 1918px) {
        
      }
    }
  }


  .bottomWrap{
    padding: 20px 10px;
    color: var(--colorText);
    font-size: var(--fz-normal);
    background-color: var(--colorEl);
    .name{
      margin-bottom: 20px;
      font-size: var(--fz-md);
    }
    .population{
      margin-bottom: 10px;
      span{}
    }

    .region{
      margin-bottom: 10px;
    }

    .capital{
      margin-bottom: 10px;
    }
  }


}