
.buttonWrap {
  
  a{
    display: block;
    width: 130px;
    color: var(--colorText);
    background-color: var(--colorEl);
    padding: 10px 20px;
    border-radius: 5px;
    text-align: center;
  }
}