.wrap {
  display: flex;
  align-items: center;
  position: relative;

  input{
    &::placeholder {
      color: var(--colorInput);
    }
    color: var(--colorText);
    background-color: var(--colorEl);
    padding: 10px;
    padding-left: 40px;
    border-radius: 5px;
    min-width: 300px;
    @media (max-width : 453px) {
      min-width: 100%;
    }
  }
  .a {
    position: absolute;
    top: 0;
    left: 0;
  }
}