.wrap {
  display: flex;
  align-items: center;
  position: relative;
  @media (max-width : 515px) {
    display: block;
    min-width: 100%;
  }

  input{
    &::placeholder {
      color: var(--colorInput);
    }
    color: var(--colorText);
    background-color: var(--colorEl);
    padding: 18px 15px;
    padding-left: 40px;
    border-radius: 5px;
    min-width: 300px;
    @media (max-width : 515px) {
      display: block;
      min-width: 100%;
      margin-bottom: 30px;
    }
  }
  
}